.container{
	width: 1170px;
	margin: auto;
}
.row{
	margin: 0 -15px;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.overflowfix{
	overflow: hidden;
}
.container-8{
	width: 66.66666666666666%;
	margin: auto;
}
.container-6{
	width: 50%;
	margin: auto;
}

.row{
	.col-4{
		width: 33%;
		float: left;
		padding: 0 15px;
	}
	.col-6{
		width: 50%;
		float: left;
		padding: 0 15px;
	}
	.col-8{
		width: 66%;
		float: left;
		padding: 0 15px;
	}
	.col-9{
		width: 75%;
	}
	.col-3{
		width: 25%;
	}
	&::after{
		content:"";
		display: block;
		clear: both;
	}
}