/* ------------------
	    HEADER 
------------------ */



.logo{
	display: block;
	width: $logo-width;
	height: $logo-height;
	font-size: 28px;
	img{
		width: 100%;
		height: 100%;
	}
}
.logo-mobile{
	display: none;
	float: left;
	@include breakpoint(phone) {
		display: block;
	}
}
.logo.black{
	color: #000;
}
header{
	background-color: $primary-color;
	padding: 45px 0 30px;
	&.transparent{
		background-color: transparent;
		position: absolute;
		z-index: 90;
		width: 100%;
	}
	.header-wrap{
		top: -100px;
		transition: all .3s ease-in-out;
		width: 100%;
		&.sticky{
			background-color: rgba(0, 0, 0, 0.7);
			position: fixed;
			top: 0;
			z-index: 90;
			padding: 20px 0;
			&.open{
				position: static;
			}
			
			@include breakpoint(tablette) {
				.header-flex{
					flex-direction: row;
				}
				ul{
					padding: 0;
					margin: 0;
				}
				.logo{
					display: none;
				}
				.secondary_nav{
					position: static;
					a{
						display: none;
					}
					a.huni-search{
						display: block;
					}
				}
			}


		}
		
	}

	.logo{
		@include breakpoint(tablette) {
			margin: 0 0 20px;
		}

	}
	nav.primary{
		line-height: 0.7em;
		text-align: center;

	}
	.secondary_nav{
		@include breakpoint(tablette) {
			position: absolute;
			top: 40px;
			right: 40px;
		}
	}
	&.inverted{
		a{
			color: #fff;
		}
	}
	.fa-search{
		margin-left: 20px;
	}
}
nav{
	ul{
		list-style: none;
		li{
			display: inline-block;
			margin-right: 33px;
		}
	}
}
.hamburger-menu{
	display: none;
	position: relative;
	z-index: 30;
	width: 39px;
	height: 29px;
	cursor: pointer;
	@include breakpoint(phone) {
		display: block;
		float: right;
	}
	span{
		width: 100%;
		height: 3px;
		background-color: #fff;
		position: absolute;
		display: block;
		transition: all .3s ease-in-out;
		opacity: 1;
		transform-origin: left center;
		&:nth-child(2){
			top:13px;
		}
		&:last-child{
			bottom: 0;
		}
	}
	&.active{
		z-index: 55;
		span{
			background-color: $primary-color;
			&:first-child{
				transform: rotateZ(42deg);
			}
			&:nth-child(2){
				opacity: 0;
			}
			&:last-child{
				transform: rotateZ(-42deg);
			}
		}
	}
	
}
.header-flex{
	transition: all .3s ease-in-out;
	display: flex;
	justify-content: space-between;
	@include breakpoint(md-down) {
		flex-direction: column;
	}
	@include breakpoint(phone) {
		display: block;
		min-height: 100vh;
		background-color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		transform: translateY(-100%);
		&.active{
			transform: translateY(0%);
			z-index: 50;
		}
		nav.primary{
			margin-top: 80px;
			width: 100%;
			float: none;
			line-height: 1.5em;
		}
		ul.menu li {
			display: block;
			font-size: 1.5em;
			padding: 20px 10px;
			&+li{
				border-top: 1px solid #ccc;
			}
			a{
				color: #000;
			}
		}
		nav.secondary_nav{
			width: 100%;
			text-align: center;
			margin-top: 50px;
		}
	}
}
nav .menu {
	&>li{
		padding-bottom: 15px;
	}
	.menu-item-has-children{
		&:after{
			content: "";
			display: inline-block;
			margin-left: 2px;
			border: 4px solid transparent;
			border-top-color: #fff;
			position: relative;
			top: 1px;
			@include breakpoint(phone) {
				display: none;
			}
		}
	
	}
	.sub-menu{
		opacity: 0;
		position: absolute;
		pointer-events: none;
		z-index: -2;
		transition: all .3s ease-in-out;
		padding: 8px 0;
		background-color: #fff;
		margin-top: 15px;
		text-align: left;
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
		li{
			margin: 0;
			padding: 0 24px;
			display: block;
			line-height: 2.1em;
			background-color: #fff;
			a{
				color: #000;
			}
			&:hover{
				background-color: $light-gray;
			}
		}
		@include breakpoint(phone) {
			position: static;
			opacity: 1;
			text-align: center;
			box-shadow: none;
			margin-top: 5px;
			li{
				display: block;
				padding: 0 5px;
				font-size: .7em;
				&+li{
					border-top: none;
				}
			}
		}
	}
	&>li{
		&:hover{
			.sub-menu{
				opacity: 1;
				pointer-events: all;
				z-index: 2;
			}
		}
	}
}

/*-----------------------------
		MODAL SEARCH
------------------------------ */
.huni-modal-search{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: rgba(255, 255, 255, 0.95);
	z-index: 90;
	display: none;
	.modal-search-content{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 600px;
	}
	.close{
		position: absolute;
		right: 30px;
		top: 40px;
		width: 39px;
		height: 29px;
		cursor: pointer;
		display: block;
		transition: all .3s ease-in-out;
		&::before,
		&::after{
			content: "";
			transform: rotateZ(42deg);
			position: absolute;
			display: block;
			width: 100%;
			height: 3px;
			background-color: #000;
			top: 13px;
		}
		&::after{
			transform: rotateZ(-42deg);
		}
		&:hover{
			opacity: .5;
			transform: rotateZ(180deg);
		}
	}
	.searchform{
		input{
			border-radius: 0;
			background-color: transparent;
			border: 0;
			border-bottom: 2px solid #000;
			color: #000;
			min-width: 80%;
			display: block;
			font-size: 2em;
			transition: all .2s ease-in-out;
			padding: .3em 0;
			&:focus{
				box-shadow: none;
				border-bottom: 4px solid #000;
			}
		}
		i{
			font-size: 2.5em;
			color: #000;
		}
	}
}


body.header-type-left{
	#wrapper{
		padding-left: 300px;
		position: relative;
	}
	header{
		position: absolute;
		height: 100%;
		width: 300px;
		left: 0;
		bottom: 0;
		top: 0;
		background-color: $header-background;
		box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.1);
	}
	.header-flex{
		display: block;
	}
	.logo{
		margin: auto;
	}
	nav.primary{
		ul{
			padding: 0;
			li{
				display: block;
				margin: 0;
				padding: 1em 0;
				font-size: 1.2em;
				&+li{
					border-top: 1px solid rgba($primary-color, 0.1);
				}
			}
			
			.sub-menu{
				position: static;
				opacity: 1;
				text-align: center;
				box-shadow: none;
				margin-top: 5px;
				background-color: transparent;
				transition: all .3s ease-in-out;
				margin-top: 20px;
				display: none;

				&.active{

				}
				a:hover{
					color: $primary-color;
				}
				li{
					display: block;
					padding: 0 5px;
					font-size: .85em;
					background-color: transparent;
					&+li{
						border-top: none;
					}
				}
			}
		}
	}
	.secondary_nav{
		position: static;
		text-align: center;
	}
	
}

$padding-button:0px;
.huni-open-toggle{
	height: 11px;
	width: 11px;
	box-sizing: content-box;
	padding: $padding-button;
	border-radius: 20px;
	//border: 1px solid #000;
	display: inline-block;
	margin-left: 10px;
	margin-top: 1px;
	position: absolute;
	
	&::before,
	&::after{
		content: "";
		display: block;
		position: absolute;
	}
	&::before{
		bottom: $padding-button;
		top: $padding-button;
		left: 5px + $padding-button;
		border-left: 1px solid #000;
	}
	&::after{
		top: 5px + $padding-button;
		left: $padding-button;
		right: $padding-button;
		border-bottom: 1px solid #000;
	}
}
/* ----------------------------
	    PAGE TITLE HEADER 
---------------------------- */
#pageTitle{
	background-color: $light-gray;
	padding: 100px 0 30px;
	margin-bottom: 100px;

}
