$primary-color: #c62650;
$primary-font: 'Roboto', sans-serif;
$title-font: 'Merriweather Sans', sans-serif;
$text-color: rgba(0, 0, 0, 0.7);
$light-gray: #f8f8f8;
$dark-blue: #242f39;
$secondary-color: #5842dc;